.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: #1d165f;
}  
.header__title {
    font-size: 25px;
}
.header__title a {
    text-decoration: none;
    color: #834cca;
    font-size: 1.6rem;
}
.header__ul {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.header__ul li a {
    text-decoration: none;
    color: #FFFF;
    transition: color 0.3s ease;
}
.header__ul li a:hover {
    color: #494646;
}
@media (min-width: 700px) {
    .header__title a {
        font-size: 38px;
    }
    .header__ul li a {
        font-size: 1.7rem;
    }
}