.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: rgb(204, 19, 19);
}  
.header__title {
    font-size: 25px;
}
.header__title a {
    text-decoration: none;
    color: green;
}
.header__ul {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.header__ul li a {
    text-decoration: none;
    color: gray;
}
.header__ul li a:hover {
    color: blueviolet;
}
@media (min-width: 700px) {
    .header__title a {
        font-size: 38px;
    }
    .header__ul li a {
        font-size: 1.7rem;
    }
}